In [1]:
place = "earth"

In [2]:
i = 0

In [4]:
while i<5 :
    print(place[i])
    i = i+1

e
a
r
t
h

In [5]:
#   i += 1    i=i+1

In [6]:
print(i)

5

In [8]:
i = 0
while i<5 :
    print(place[i])
    i = i+1
print("hi")

e
a
r
t
h
hi

In [9]:
varx = 10
vary = 20
varz = 30

In [10]:
if varx<vary:
    print("hello")
    print("good day")
else:
    print("namaste")

hello
good day

In [12]:
if varx>vary:
    print("hello")
    print("good day")
elif varx>vary and varx>varz:
    print("varx is the greatest")
elif varx<vary<varz:
    print("varz is greatest")
else:
    print("namaste")

varz is greatest

In [13]:
#   no switch case

In [14]:
cities = ['bengaluru', 'hyderabad', 'mumbai', 'chennai']

In [15]:
for c in :     #c=cities[0], c=cities[1], c=cities[2], c=cities[3]
    print(c)

bengaluru
hyderabad
mumbai
chennai

In [16]:
for c in place:
    print(c)

e
a
r
t
h

In [17]:
type(c)

str

In [18]:
for c in cities[0:3]:
    print(len(c), '\t', c)

9 	 bengaluru
9 	 hyderabad
6 	 mumbai

In [20]:
listx = []
place = "earth"
for c in place:        
    listx.append(c)

In [21]:
print(listx)

['e', 'a', 'r', 't', 'h']

In [22]:
print(c)

h

In [23]:
listy = list(place)

In [24]:
print(listx)
print(listy)

['e', 'a', 'r', 't', 'h']
['e', 'a', 'r', 't', 'h']

In [25]:
cities = ['bengaluru', 'hyderabad', 'mumbai', 'chennai', 'kochi']

In [26]:
for val in cities:
    print(val)
    if val == 'mumbai':
        break

bengaluru
hyderabad
mumbai

In [29]:
cities2 = ['ahemdabad', 'kolkota', 'mumbai', 'delhi', 'kochi']

In [30]:
for one in cities:
    for two in cities2:
        if one == two:
            print(one)

mumbai
kochi

In [31]:
list_common =[]

In [32]:
for one in cities:
    for two in cities2:
        if one == two:
            list_common.append(one)

In [33]:
print(list_common)

['mumbai', 'kochi']

In [34]:
list1=[] 
strb="earth"
 
for c in strb:
    print(list1.append(c), list1)

None ['e']
None ['e', 'a']
None ['e', 'a', 'r']
None ['e', 'a', 'r', 't']
None ['e', 'a', 'r', 't', 'h']

In [36]:
for i in range(4):
    print("i =",i)

i = 0
i = 1
i = 2
i = 3

In [37]:
for i in range(4, 9):        #upper range not included
    print("i =",i)

i = 4
i = 5
i = 6
i = 7
i = 8

In [38]:
for i in range(0, 14, 3):     #0,1,2,3,4,5,6,7,8,9,10,11,12,13
    print("i =", i)

i = 0
i = 3
i = 6
i = 9
i = 12

In [39]:
for i in range(2, 14, 2):     #0,1,2,3,4,5,6,7,8,9,10,11,12,13
    print("i =", i)

i = 2
i = 4
i = 6
i = 8
i = 10
i = 12

In [40]:
cities = ['bengaluru', 'hyderabad', 'mumbai', 'chennai', 'kochi']

In [41]:
for i in range(len(cities)):
    print("i =", i, "and cities[i] =", cities[i])

i = 0 and cities[i] = bengaluru
i = 1 and cities[i] = hyderabad
i = 2 and cities[i] = mumbai
i = 3 and cities[i] = chennai
i = 4 and cities[i] = kochi

In [43]:
for i in range(3):
    for j in range(3):
        print("i = ", i, " j = ", j)

i =  0  j =  0
i =  0  j =  1
i =  0  j =  2
i =  1  j =  0
i =  1  j =  1
i =  1  j =  2
i =  2  j =  0
i =  2  j =  1
i =  2  j =  2

In [44]:
for i in range(3):
    for j in range(3):
        if i==j:
            print("tea break")
            break
        else:
            print("no tea break")

tea break
no tea break
tea break
no tea break
no tea break
tea break

In [45]:
"""for i in range(3):
    for j in range(3):
        if i==j:
            print("tea break")
            continue
        else:
            print("no tea break")
        print("coffee break")
    print("coffee break")"""

'for i in range(3):\n    for j in range(3):\n        if i==j:\n            print("tea break")\n            continue\n        else:\n            print("no tea break")\n        print("coffee break")\n    print("coffee break")'

In [46]:
#   enumerate()

In [47]:
pass    #does nothing

In [48]:
if varx > vary:
    print("x is great")
else:
    pass

In [50]:
if varx > vary:
    print("x is great")
else:
    #  comments

SyntaxError: unexpected EOF while parsing (<ipython-input-50-1fb058e3fdfa>, line 4)

In [54]:
cities = ['bengaluru', 'hyderabad', 'mumbai', 'chennai', 'kochi']
cities2 = ['ahemdabad', 'kolkota', 'mumbai', 'delhi', 'kochi']
cities3 = ['jaipur', 'pune', 'indore', 'agartala', 'patna']

In [56]:
for one in cities:
    if one in cities3:
        print(one)

In [53]:
'h' in 'hello'

True

In [57]:
for one in cities:
    if one in cities3:
        print(one)
    else:
        print("no output")

no output
no output
no output
no output
no output

In [59]:
city = "mumbai"#"srinagar"

In [60]:
for one in cities:
    if one == city:
        print("found")
        break

found

In [62]:
city = "srinagar"
for one in cities:
    if one == city:
        print("found")
        break
    else:
        print("not found")

not found
not found
not found
not found
not found

In [63]:
city = "mumbai"
for one in cities:
    if one == city:
        print("found")
        break
    else:
        print("not found")

not found
not found
found

In [64]:
#  else with for
city = "mumbai"
for one in cities:
    if one == city:
        print("found")
        break
else:
    print("not found")

found

In [65]:
#  else with for
city = "srinagar"
for one in cities:
    if one == city:
        print("found")
        break
else:
    print("not found")

not found

In [66]:
#    continue
#    enumerate
#    for-else with multiple list (exercise)
#    while-else

In [69]:
city = "mumbai"
for one in cities:
    if one == city:
        print("found")
else:
    print("not found")

found
not found

In [70]:
city = "mumbai"
for one in cities:
    if one == city:
        print("found")
    else:
        print("not found")

not found
not found
found
not found
not found

In [71]:
for h in "hello":
    print(h)
print("-----")

h
e
l
l
o
-----

In [72]:
seta = {'amitabh', 'rajni', 'ntr', 'dada kondke', 'uttam', 'mohanlal'}

In [73]:
for val in seta:
    print(val)

amitabh
rajni
dada kondke
uttam
ntr
mohanlal

In [74]:
print(seta)

{'amitabh', 'rajni', 'dada kondke', 'uttam', 'ntr', 'mohanlal'}

In [75]:
dicta = {'US':'washington', 'UK':'london', 'australia':'canberra', 'japan':'tokyo'}

In [76]:
for k in dicta:
    print(k)

US
UK
australia
japan

In [78]:
for k in dicta:
    print(k, '\t\t', dicta[k])

US 		 washington
UK 		 london
australia 		 canberra
japan 		 tokyo

In [79]:
print(dicta.keys())

dict_keys(['US', 'UK', 'australia', 'japan'])

In [80]:
print(dicta.values())

dict_values(['washington', 'london', 'canberra', 'tokyo'])

In [81]:
list_keys = list(dicta.keys())

In [82]:
print(list_keys)

['US', 'UK', 'australia', 'japan']

In [83]:
print(dicta.items())

dict_items([('US', 'washington'), ('UK', 'london'), ('australia', 'canberra'), ('japan', 'tokyo')])

In [84]:
for k, v in dicta.items():
    print(k)
    print(v)
    print("-----")

US
washington
-----
UK
london
-----
australia
canberra
-----
japan
tokyo
-----