In [1]:
avengers = ['ironman', 'captain', 'hulk', 'thor']

In [2]:
type(avengers)

list

In [3]:
avengers = ('ironman', 'captain', 'hulk', 'thor')

In [4]:
type(avengers)

tuple

In [5]:
print(avengers[1])

captain

In [6]:
print(avengers[1:3])

('captain', 'hulk')

In [7]:
avengers.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [8]:
avengers.count('hulk')

1

In [9]:
avengers = ('ironman', 'captain', 'hulk', ['antman', 'wasp'], 'thor')

In [10]:
avengers[3] = "nigam"

TypeError: 'tuple' object does not support item assignment

In [11]:
avengers[3][0] = "nigam"

In [12]:
print(avengers)

('ironman', 'captain', 'hulk', ['nigam', 'wasp'], 'thor')

In [13]:
avengers[3][0][0] = "N"

TypeError: 'str' object does not support item assignment

In [14]:
#  examples = coordinates of a location
#           = rows & columns of excel sheet or database

In [15]:
seta = {'orange', 'banana', 'apple', 'mango', 'banana', 'kiwi'}
setb = {'pear', 'apple', 'grape'}

In [16]:
print(seta)

{'kiwi', 'banana', 'orange', 'mango', 'apple'}

In [17]:
print(setb)

{'pear', 'apple', 'grape'}

In [18]:
print(seta | setb)

{'mango', 'pear', 'grape', 'kiwi', 'banana', 'orange', 'apple'}

In [19]:
print(seta & setb)

{'apple'}

In [20]:
seta.add('watermelon')

In [21]:
print(seta)

{'kiwi', 'watermelon', 'banana', 'orange', 'mango', 'apple'}

In [22]:
setc = {'kiwi', ['banana', 'orange'], 'apple'}

TypeError: unhashable type: 'list'

In [23]:
setc = {'kiwi', ('banana', 'orange'), 'apple'}

In [36]:
dicta = {'ironman':'suit', 'hawkeye':'arrows', 'thor':'hammer'}

In [25]:
#   key_value pair

In [27]:
dicta['ironman']

'suit'

In [28]:
print(dicta['thor'])

hammer

In [29]:
dicta['ironman'] = 'SUIT'

In [30]:
print(dicta)

{'ironman': 'SUIT', 'hawkeye': 'arrows', 'thor': 'hammer'}

In [37]:
dicta['captain'] = ['hammer', 'shield']

In [32]:
print(dicta)

{'ironman': 'SUIT', 'hawkeye': 'arrows', 'thor': 'hammer', 'captain': ['hammer', 'shield']}

In [33]:
dicta = {'dc':['batman', 'aquaman'], 'marvel':dicta}

In [34]:
print(dicta)

{'dc': ['batman', 'aquaman'], 'marvel': {'ironman': 'SUIT', 'hawkeye': 'arrows', 'thor': 'hammer', 'captain': ['hammer', 'shield']}}

In [35]:
len(dicta)

2

In [38]:
dictb = {'dc':['batman', 'aquaman'], 'marvel':dicta}

In [39]:
print(dicta)

{'ironman': 'suit', 'hawkeye': 'arrows', 'thor': 'hammer', 'captain': ['hammer', 'shield']}

In [40]:
print(dictb)

{'dc': ['batman', 'aquaman'], 'marvel': {'ironman': 'suit', 'hawkeye': 'arrows', 'thor': 'hammer', 'captain': ['hammer', 'shield']}}

In [41]:
print(dictb['marvel']['captain'][0][0])

h

In [42]:
#  dictb['marvel']['captain'][0] =